<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Home</title>
    <style>
        button {
            display: block;
            margin: 10px;
            padding: 12px 20px;
            font-size: 1em;
        }
    </style>
</head>
<body>
    <h2>Welcome to the Homepage!</h2>
    {% for route, label in pages.items() %}
        <form action="/{{ route }}">
            <button type="submit">{{ label }}</button>
        </form>
    {% endfor %}
</body>
</html>